.article {
  padding: 0;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 20px 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 0 27px;
  }
}

.article > * {
  flex-shrink: 0;
}

.article__img-wrapper {
  position: relative;
  width: 100%;
  padding-top: 46.4%;
  background-color: $metal-color;
}

.article__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.article__subtitle {
  @include text(24px, 700);
  margin: 0;
  margin-top: 30px;
}

.article__text {
  @include text(16px, 300, 24px);
  margin: 0;
  margin-top: 13px;
}

.article__btn {
  @include text(16px, 700, 20px);
  margin-top: 32px;
  padding: 13px 37px;
  background-color: $red-color;
  border-radius: 40px;
  align-self: flex-start;
  color: $white-color;
}
