.colony {
  position: relative;
}

.colony__wrapper {
  padding: 50px $padding-mobile 48px;
  max-width: $max-desktop-width;

  @media (min-width: $tablet-width) {
    padding: 53px $padding-tablet 52px;
    min-height: 890px;
  }

  @media (min-width: $desktop-width) {
    padding: 97px $padding-desktop 52px;
    min-height: 1050px;
    overflow: hidden;
  }

  @media (min-width: $max-desktop-width) {
    margin: 0 auto;
    padding-right: $padding-desktop-base;
    padding-left: $padding-desktop-base;
  }
}

.colony__title {
  margin: 0;

  @media (max-width: $tablet-width - 1) {
    letter-spacing: -0.01em;
  }

  @media (min-width: $desktop-width) {
    margin-left: -3px;
  }
}

.colony__container {
  margin-top: 9px;
  display: flex;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    min-height:754px;
  }
}

.colony__bar {
  flex-shrink: 0;
  width: 5px;
  background-color: red;
  margin: 32px 22px 30px 0;
  border-radius: 10px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    height: 5px;
    width: auto;
    margin: 36px 50px 8px 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 32px 22px 50px 0;
  }
}

.colony__list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.colony__item {
  @media (max-width: $tablet-width - 1) {
    display: flex;
    flex-direction: column;
  }
}

.colony__article {
  @media (max-width: $tablet-width - 1) {
    display: flex;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
  }

  @media (min-width: $tablet-width) {
    // display: none;
    display: flex;
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: calc(100vw - 2 * #{$padding-tablet});
    left: $padding-tablet;
    transition: opacity 0.3s ease-in-out;
  }

  @media (min-width: $desktop-width) {
    width: 84.2vw;
    right: $padding-desktop;
    left: auto;
    top: 187px;
  }

  @media (min-width: $max-desktop-width) {
    width: 1050px;
    margin-left: 50%;
    right: auto;
    left: 44px - 525px;
  }
}

.colony__item--open .colony__article {
  @media (max-width: $tablet-width - 1) {
    max-height: 500px;
  }

  @media (min-width: $tablet-width) {
    z-index: 1;
    opacity: 1;
  }

  @media (min-width: $desktop-width) {
    animation-name: fliping;
    animation-duration: 0.4s;
    animation-timing-function: linear;
  }
}

@keyframes fliping {
  0% {transform: translate(75px, 75px)}
  12% {transform: translate(72px, 50px)}
  25% {transform: translate(69px, 30px)}
  37% {transform: translate(65px, 20px)}
  50% {transform: translate(60px, 15px)}
  62% {transform: translate(55px, 10px)}
  75% {transform: translate(45px, 6px)}
  87% {transform: translate(20px, 3px)}
  100% {transform: translate(0, 0)}
}

.colony__btn {
  cursor: pointer;
  position: relative;
  @include text(20px, 700, 24px, 0);
  display: flex;
  font-size: 20px;
  margin: 21px 0;
  color: $red-color;

  & span {
    display: block;
    overflow: hidden;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;

    @media (max-width: $desktop-width - 1) {
      max-width: 0;
      transition-property: max-width;
    }

    @media (min-width: $desktop-width) {
      max-height: 0;
      transition-property: max-height;
    }
  }

  &::before {
    $size: 16px;

    content: '';
    position: absolute;
    top: 30%;
    left: -32px;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 3px solid $red-color;
    background-color: $white-color;

    transition-property: background-color;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: -39px;
      left: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    transform: rotate(0deg);

    &::before {
      top: 5px;
      left: -32px;
    }

    & span {
      writing-mode: vertical-rl !important;
      text-orientation: mixed;
      transform: rotate(180deg);
    }
  }
}

.colony__item--open .colony__btn {
  & span {
    @media (max-width: $desktop-width - 1) {
      max-width: 200px;
    }

    @media (min-width: $desktop-width) {
      max-height: 200px;
    }
  }

  &::before {
    background-color: $red-color;
  }
}

.colony__item:last-child {
  @media (max-width: $tablet-width - 1) {
    .colony__btn {
      order: 2;
    }
  }

  .colony__btn {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1 ) {
      &::before {
        right: 23px;
        left: auto;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        bottom: 23px;
        top: auto;
      }

      .colony__svg {
        margin-bottom: 0px;
        margin-top: 16px;
      }

      span {
        order: -1;
      }
    }
  }
}

.colony__svg {
  $size: 30px;

  width: $size;
  height: $size;

  margin-right: 16px;
  flex-shrink: 0;

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
