body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  font-size: 20px;
  font-family: "Circe", "Arial", sans-serif;
  font-weight: 400;
  text-align: left;
  line-height: 1.3;
  color: $black-color;
  background-color: $pink-color;

  &::after {
    content: "";
    position: absolute;
    //background-image: url("../img/fon1.png");
    background-image: url("../img/fon2.png");
    //background-image: url("../img/fon3.png");
    opacity: 0.4;
    z-index: 1;
    top: 0;
    left: 0;
    //width: 320px;
    //height: 6541px;
    width: 768px;
    height: 5822px;
    //width: 1366px;
    //height: 9290px;
  }
}

a {
  text-decoration: none;
  color: black;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.btn {
  border: 0;
  outline: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.redbtn {
  display: block;
  font-size: 13px;
  font-weight: 400;
  font-family: "Circe", "Arial", sans-serif;
  text-transform: uppercase;
  line-height: 2;
  padding: 12px 20px 13px;
  background-color: $red-color;
  text-align: center;
  color: $white-color;
  border-radius: 25px;

  &:hover {
    box-shadow: 0 5px 10px 0 rgba($red-color, 0.3);
  }
}

.bold {
  font-weight: 700;
}
