@mixin list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin text($fz, $fw: 400, $lh: 1.0, $ls: 0.005em) {
  font-size: $fz;
  font-weight: $fw;
  font-family: "ProximaNova", "Arial", sans-serif;
  line-height: $lh;
  letter-spacing: $ls;
}
